@page "/Workout/journal"
@using VibeHome.Domain.Entities
@using VibeHome.Application.Interfaces
@inject IJournalEntryService JournalEntryService

<h3>Weight Loss Journal</h3>

@if(isLoading)
{
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (Entries.Count == 0 && isLoading == false)
{
    <div class="alert alert-info">No report data available yet.</div>
}
else if (ShowStatsSet)
{
    <div class="mb-4 card p-3">
        <h5>Last 30 Days Stats</h5>
        <div><strong>Weight (lbs):</strong> Min: @MinWeight, Max: @MaxWeight</div>
        <div><strong>Waist Size (in):</strong> Min: @MinWaist, Max: @MaxWaist</div>
    </div>

    <button class="btn btn-success mb-3" @onclick="ShowAddForm">Add New Entry</button>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Weight (lbs)</th>
                <th>Waist Size (cm)</th>
                @* <th>Notes</th> *@
            
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in SortedEntries)
            {
                <tr>
                    <td style="cursor: pointer;" @onclick="() => StartEditEntry(entry)" >@entry.Date.ToShortDateString()</td>
                    <td>@entry.Pounds</td>
                    <td>@entry.WaistSize</td>
                   
                </tr>
                @if (string.IsNullOrEmpty(entry.Notes) == false)
                {  <tr>

                    <td colspan="3"><span style="font-weight: bold;">Notes:</span> @entry.Notes</td>
                 
                    </tr>
                    <br />
                }
               
            }
        </tbody>
    </table>

}
else if (ShowForm)
{

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@((IsEdit ? "Edit" : "Add New") + " Entry")</h5>
            <br/>
            <EditForm Model="@CurrentEntry" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label for="pounds" class="form-label">Weight (lbs)</label>
                    <InputNumber id="pounds" class="form-control" @bind-Value="CurrentEntry.Pounds" step="0.01" />
                </div>
                <div class="mb-3">
                    <label for="waist" class="form-label">Waist Size (inches)</label>
                    <InputNumber id="waist" class="form-control" @bind-Value="CurrentEntry.WaistSize" step="0.01" />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <InputDate id="date" class="form-control" @bind-Value="CurrentEntry.Date" />
                </div>
                <div class="mb-3">
                    <label for="Notes" class="form-label">Notes</label>
                    <InputTextArea id="date" class="form-control" @bind-Value="CurrentEntry.Notes" />
                </div>

                @if (IsEdit)
                {
                    <div class="mb-3 form-check">
                        <InputCheckbox class="form-check-input" id="deletedCheck" @bind-Value="CurrentEntry.IsDeleted" />
                        <label class="form-check-label" for="deletedCheck">Is Deleted</label>
                    </div>
                }

                <button type="submit" class="btn btn-primary">@(IsEdit ? "Update" : "Save")</button>
                <button type="button" class="btn btn-secondary" @onclick="CancelForm">Cancel</button>
            </EditForm>

        </div>
    </div>
    <div style="padding-bottom:20px;"></div>
}


@code {
    private List<JournalEntry> Entries { get; set; } = new();
    private List<JournalEntry> SortedEntries => Entries.Where(x => !x.IsDeleted).OrderByDescending(x => x.Date).ToList();
    private JournalEntry NewEntry { get; set; } = new() { Date = DateTime.Now };
    private JournalEntry EditEntry { get; set; } = new();
    private bool ShowForm { get; set; } = false;
    private bool IsEdit { get; set; } = false;
    private bool ShowStatsSet { get; set; } = false;
    private decimal MinWeight, MaxWeight, MinWaist, MaxWaist;
    private bool isLoading = true;

    private JournalEntry CurrentEntry => IsEdit ? EditEntry : NewEntry;

    protected override async Task OnInitializedAsync()
    {
        await LoadEntries();
        await CalculateStats();
        isLoading = false;
        ShowStatsSet = true;
    }

    private async Task LoadEntries()
    {
        Entries = (await JournalEntryService.GetAllAsync()).ToList();
        StateHasChanged();
    }

    private void ShowAddForm()
    {
        NewEntry = new JournalEntry { Date = DateTime.Now };
        IsEdit = false;
        ShowForm = true;
        ShowStatsSet = false;

    }

    private void StartEditEntry(JournalEntry entry)
    {
        EditEntry = new JournalEntry
        {
            Id = entry.Id,
            Pounds = entry.Pounds,
            WaistSize = entry.WaistSize,
            Date = entry.Date,
            IsDeleted = entry.IsDeleted,
            Notes = entry.Notes
        };

        ShowStatsSet = false;
        IsEdit = true;
        ShowForm = true;
    }

    private void CancelForm()
    {
        ShowForm = false;
        ShowStatsSet = true;
        NewEntry = new JournalEntry { Date = DateTime.Now };
        EditEntry = new JournalEntry();
    }

    private void ClearValue()
    {

    }

    private async Task HandleSubmit()
    {
        if (IsEdit)
        {
            await JournalEntryService.UpdateAsync(EditEntry);
        }
        else
        {
            await JournalEntryService.AddAsync(NewEntry);
        }
        ShowForm = false;
        ShowStatsSet = true;
        await Task.WhenAll(LoadEntries(), CalculateStats());

    }

    private async Task CalculateStats()
    {
        var last30 = Entries.Where(x => x.Date >= DateTime.Now.AddDays(-30) && !x.IsDeleted).ToList();
        if (last30.Any())
        {
            MinWeight = last30.Min(x => x.Pounds);
            MaxWeight = last30.Max(x => x.Pounds);
            MinWaist = last30.Min(x => x.WaistSize);
            MaxWaist = last30.Max(x => x.WaistSize);
            ShowStatsSet = true;
        }
        else
        {
            MinWeight = MaxWeight = MinWaist = MaxWaist = 0;
            ShowStatsSet = false;
        }
    }
}
